@using HRM.Web.ViewModels
@{
    ViewData["Title"] = "Employee List";
}

@model List<EmployeeViewModel>
<div> 
    <a asp-controller="Employee" asp-action="Add" class=" btn btn-success" mt="2"><i class="bi bi-plus"></i>Add</a>

    <form class="float-end d-flex mt-2" action="">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="searchText">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

</div>



<table class="table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Designation</th>
        <th>Level</th>
        <th>Join Date</th>
        <th>Department</th>  
        <th></th>        
    </tr>
    @foreach(var employee in Model)
    {
    <tr>
        <td><img height="30" class="rounded-circle" src="/profile-images/@employee.ProfileImage"/></td>
        <td>@employee.FirstName</td>
        <td>@employee.LastName</td>
        <td>@employee.DesignationName</td>
        <td>@employee.Level</td>
        <td>@employee.JoinDate</td>
        <td>@employee.DepartmentName</td>
        <td>
                <a asp-controller="Employee" asp-action="Edit" asp-route-id="@employee.id" title="Edit"><i class="bi bi-pencil-square text-warning"></i></a>
              
                <a href="/Employee/Delete/@employee.id"><i class="bi bi-trash3"></i> </a>
        </td>
    </tr>
    }

</table>
